<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "userDaoImpl" class = "Dao.UserDaoImpl"/>
    <bean id = "userMysqlImpl" class = "Dao.UserDaoMysqlImpl"/>
    <bean id = "userOraceImpl" class = "Dao.UserDaoOraceImpl"/>

    <bean id = "userServiceImpl" class = "Service.UserServiceImpl">
        <property name = "userDao" ref = "userOraceImpl"/>
    </bean>
</beans>